:root{
    
        color-scheme: light;

        --green: #92c582;
        --gray: #767676;
        --blue: #86a5a9;
        --black: #04002f;
        --light: #fdffe0;

}

body{
    font-family: "Bebas Neue", sans-serif;
    margin: 0px 0px;
    
}
.page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1{
    margin-top: 1em;
    text-align: center;
    background-color: var(--light, white);
}
.page__content{
   display: flex;
   flex-direction: column;
   gap: 2em;
   margin: 3em auto;
}
.page__text{
    background-color: var(--light);
    border-radius: 2em;
    padding: 1em;
    margin: 1em 2em;
    text-align: center;
    
}
.page__turn{
    gap: 2em;
    display: flex;
    justify-content: space-around;
}
.button{
    transition: all 0.2s;
    border-radius: 32px;
    padding: 1em 2em;
    background-color: var(--green);
}
.button:hover{
    transform: scale(1.2);
    background-color: var(--blue);
}
a{
    text-decoration: none;
    color: var(--black);
}

footer{
    background-color: var(--gray,gray);
    padding: 0.5em 1em;
    
}
.img--background{
    z-index: -1;
    position: absolute;
    background-position: left bottom;
}
.img-responsive{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}